
.in-line{
	float : left;
	display : inline-flex;
}
.left-section {
	width : 50%;
}
.top-heading {
	margin-bottom : 20px;
}
.join-form{
	 background: rgba(0, 0, 0, 0) url("/assets/img/join-form-bg.png") no-repeat scroll center center / cover ;
    border-radius: 10px;
    padding: 20px;	
}
.btn-join {
    background-color: #5fb6e6;
    border-color: #5fb6e6;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    background-image : none;
}
.btn:focus {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
.login-text{
	color : #fff;
}
.background-body {
	background: rgba(0, 0, 0, 0) url("/assets/img/home.jpg")  scroll center center / cover ;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}
.pull-right-form{
	width : 50%;
}