body {
	margin-left: 15px;
	background-color: #202020;
	color: white;
	font-family: cursive;
}
.move-left{
	float:left !important;
	
}
.form-content{
	display:block;
}
.row-margin{
	margin-bottom:10px;
}

.img-pdf{
max-height : 50px;
max-width : 50px;	
}
.text-box{
	width: auto;
}
input[type='checkbox']{
	
}
.no-left-margin{
	margin-left:0 !important;
	padding-left :0 !important;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.font-color{
	color:black !important;
}